:root {
  background-color: #f4fbfa;
  --md-list-container-color: #f4fbfa;
  --md-list-item-label-text-color: #161d1d;
  --md-list-item-leading-icon-color: #006a6a;
  --md-list-item-trailing-icon-color: #006a6a;
  --md-list-item-leading-icon-size: 20px;
  --md-list-item-trailing-icon-size: 20px;
}
md-list-item.unhealthy {
  --md-list-item-trailing-icon-color: #ba1a1a;
}
